<template>
  <div>
    <h1>Event Listing</h1>

    <event-card v-for="event in events" :key="event.key" :event="event" />
    <BaseIcon />
  </div>
</template>

<script>
import EventCard from '@/components/EventCard.vue'
// import axios from 'axios'
import EventService from '@/services/EventService.js'
export default {
  data() {
    return {
      events: [],
    }
  },
  components: {
    EventCard,
  },
  created() {
    EventService.getEvents().then((resp) => {
      const finalResp = JSON.parse(JSON.stringify(resp.data.events))
      this.events = finalResp
      console.log('EventList events', resp.data)
    })
  },
}
</script>

<style scoped></style>
